<div class="c-pagination">
  <nav class="c-pagination__links" aria-label="Pagination">
    {{#if pagination.isFirst}}
    {{else}}
        <a class="c-pagination__page c-pagination__page--prev" href="{{pagination.links.prev}}">Previous</a>
    {{/if}}
    {{#each pagination.links.pages}}
      {{#if this}}
        {{#if this.isCurrent}}
          <span aria-current="page" class="c-pagination__page"><span class="u-visually-hidden">You're on page</span> {{this.pageNumber}}</span>
        {{else}}
          <a class="c-pagination__page" href="#{{this.pageNumber}}">{{this.pageNumber}}</a>
        {{/if}}
      {{else}}
        <span class="c-pagination__page c-pagination__ellipsis"></span>
      {{/if}}
    {{/each}}
    {{#if pagination.isLast}}
    {{else}}
      <a class="c-pagination__page--next c-pagination__page" href="{{pagination.links.next}}">Next</a>
    {{/if}}
  </nav>
</div>
