{{#each palettes }}
  <div class="o-grid__item">
    <article class="c-card c-card--default">
    <div class="c-card__img u-bg-{{ @key }}">
    </div>
      <div class="c-card__content">
          <div class="c-card__info">
              <h3 class="c-card__title">
                  SMG-{{ @key }}
              </h3>
          </div>
          <div class="c-card__info">
            <dl class="o-dl">
              <dt>Scss</dt>
              <dd>{{ name }}</dd>
              <dt>Hex</dt>
              <dd>{{ hex }}</dd>
              
              <dt>Contrasting text colour</dt>
              <dd class="u-bg-{{ @key }}">{{ text }}</dd>

              <dt>Lighter For e.g. hover variation</dt>
              <dd class="u-bg-{{ @key }}-light">&nbsp;</dd>
              <dt>Darker For e.g. hover variation</dt>
              <dd class="u-bg-{{ @key }}-dark">&nbsp;</dd>
            </dl>
          </div>
      </div>
    </article>

  </div>

{{/each}}
