<footer class="c-logo-panel" role="banner">
  <div class="o-container">
    <h4 class="c-logo-panel__title">{{strap}}</h4>
    <div class="c-logo-panel__items">
      {{#each links}}
        <a href="{{url}}" class="c-logo-panel__item">
          <div class="c-logo-panel__text">{{name}}</div>
          <svg width="{{ width }}" height="236" viewBox="0 0 {{ width }} {{ height }}" preserveAspectRatio="xMinYMin meet"><title>{{name}}</title><use xlink:href="/assets/logos/sprite.symbol.svg#{{ @key }}"></use></svg>
        </a>
      {{/each}}
    </div>
  </div>
</footer>
