<nav class="c-menu">
  <button class="c-menu__button" aria-controls="primary-menu" aria-expanded="false">Menu</button>
  <div class="c-menu__wrapper">
    <div id="site-navigation" class="c-menu__nav" aria-expanded="false">
      <ul id="primary-menu" class="c-menu__primary-ul">
        {{#each items}}
        {{#if items}}
        <li class="menu-item menu-item-has-children" aria-haspopup="true">
          <a href="{{url}}">{{name}}</a>
          <button aria-expanded="false" class="dropdown-toggle">
            <span class="screen-readers">Expand child
              menu</span></button>
          <ul class="sub-menu" hidden>
            {{#each items}}
            {{#if items}}
            <li class="menu-item menu-item-has-children" aria-haspopup="true">
              <a href="{{url}}">{{name}}</a>
              <button aria-expanded="false" class="dropdown-toggle">
                <span class="screen-readers">Expand child
                  menu</span></button>
              <ul class="sub-menu" hidden>
                {{#each items}}
                <li class="menu-item"><a href="{{url}}">{{name}}</a></li>
                {{/each}}
              </ul>
            </li>
            {{else}}
            <li class="menu-item"><a target="_self" href="{{url}}">{{name}}</a></li>
            {{/if}}
            {{/each}}
          </ul>
        </li>
        {{else}}
        <li class="menu-item"><a target="_self" href="{{url}}">{{name}}</a></li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</nav>

{{{ init }}}
