<div class="c-accordion">

  {{#each accordions }}
  <h3 class="c-accordion__title">
    <button class="c-accordion__tab | js-accordion-tab" id="tab-{{ @index }}" aria-expanded="false"
      aria-controls="tab-content-{{ @index }}">{{ this.title }}</button>
  </h3>
  <div class="c-accordion__content o-textstyles" id="tab-content-{{ @index }}" aria-hidden="true"
    aria-labelledby="tab-{{ @index }}">
    {{{ this.content }}}
  </div>
  {{/each}}

</div>{{{ init }}}
