<article class="c-card c-card--default {{ variant }}">
  <div class="c-card__img u-grad-yellow-orange-red">
    <a href="#"><img src="{{ img }}" alt="{{ title }}"> </a>
  </div>
  <div class="c-card__content">
    <div class="c-card__info">
      {{{ info }}}
      {{#if title}}
      <h3 class="c-card__title">
        {{ title }}
      </h3>
    </div>
    {{/if}}
    {{#if desc}}
      <p class="c-card__desc">
        {{ desc }}
      </p>
    {{/if}}
  </div>
</article>