<header class="c-masthead">
  <div class="o-container">
    <a href="{{link}}" class="c-masthead__logo">
      <svg viewBox="0 0 {{width}} {{height}}" width="{{width}}" height="{{aligned-height}}"
        preserveAspectRatio="xMinYMid meet" class="c-logo--{{slug}}">
        <use xlink:href="{{path '/assets/logos/sprite.symbol.svg'}}#{{slug}}" fill="#fff"></use>
      </svg>
    </a>
    <div class="c-masthead__nav">{{ render '@menu' }}</div>
  </div>
</header>
